* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

header,
.subheader,
footer {
  text-align: center;
}

.row {
  width: 100%;
  display: flex;
  border: solid 1px black;
}

.col {
  width: 33%;
}

footer p {
  width: 100%;
}